.color-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.color-code {
  font-size: 1em;
  font-weight: bold;
}

.color-name {
  font-weight: thin;
  font-size: 0.5em;
  color: darkslategrey;
}

.value-copied-prompt {
  background-color: grey;
  border-radius: 25px;
  padding: 0.5em 1em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 100px;
  text-align: center;
}
