

.form-container{
    height:20%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 30%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

select {
    font-size: 1rem;
    cursor: pointer;
}


.inputContainer{
    display: flex;
    /* flex-direction: column; */
    gap:5px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

input[type=color]{
    height: 100%;
    width: 20%;
    cursor: pointer;
}

input[type=number]{
   width: 10;
   font-size: 1rem; 
   text-align: center;
}

input:focus{
    border: 2px solid #2684ff;
    outline: none;
}

/* To remove the increment and decrement buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For firefox browser */
input[type="number"] {
    -moz-appearance: textfield;
}


.border{
    background-color: white;
    border: 1px solid  #D1D5DB;
    border-radius: 5px;
    height: 100%;
}

.btn{
    width: 180px;
    font-size: 1rem;
    cursor: pointer;
   
}

.btn:active{
    box-shadow: inset 0 0 5px #E0E0E0;
}